table {
    width: 80%;
    margin: 0 auto;
    border-collapse: collapse;
}

td {
    padding: 10px;
    text-align: left;
    width: 50%;
}

img {
    width: 100%;
    height: auto;
}

h3 {
    font-size: 30px;
    font-weight: bold;
    margin-top: 0;
}

p {
    font-size: 20px;
    margin-top: 10px;
}

input[type=button] {
    background-color: #e2d516;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
}

input[type=button]:hover {
    background-color: #e4e66e; 
}