.contact-info {
    background-color: #eff1e7; 
    padding: 10px; 
    display: flex; 
    align-items: center; 
    justify-content: space-between; 
    color: rgb(0, 0, 0); 
    height: 25px;
    font-size: 12px;
  }

  nav {
    background-color: #e7e3a0; 
    padding: 10px; 
    display: flex; 
    align-items: center; 
  }
  
  nav ul {
    display: flex; 
    justify-content: flex-end; 
    margin: 0; 
  }
  
  nav ul li {
    margin-left: 200px; 
  }
  
  nav ul li a {
    color: rgb(0, 0, 0); 
    text-decoration: none;
    font-size: 20px;
  }
  
  nav ul li a:hover {
    color: #717171; 
  }
